doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        h1 파일 업로드 해보자
        form(action="/upload", method="post" enctype="multipart/form-data")
            input(type="file", name="myfile")
            button(type="submit") 전송!