doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        form(action="./login_send", method="post")
            p
                input(type="text", name="USERNAME")
            p
                input(type="password", name="PASSWORD")
            p
                button(type="submit") 전송!
