doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        h1 My Server Languages

        ul
            each language in languages
                li
                    a(href="../title/"+language)=language
                
                