doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    body
        h1 Server Side JavaScript
        ul
            each topic in topics
                li
                a(href="../topic/"+topic)=topic
        h2=title
        p=content
        
                    