<!DOCTYPE html>
<html>
  <head>
    <title>데이터베이스 내용 뿌려봄</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= name %></h1>
    <p>Welcome to <%= address %></p>
    <p>Tel : <%= age %></p>
  </body>
</html>
