
* {
      font-family: "Nanum GothicCoding", sans-serif;
      
  }

  html {
      width: 100%;
      height: auto;
      margin: 0px;
      padding: 0px;
      background-color: #343A40;
  }

  body {
      width: 100%;
      height: 100%;
      background-color: #eddbc3;
    
      background-size: cover;
      background-repeat: no-repeat;
      font-family: 'Nanum Gothic Coding', monospace;
  }

  .fixed_header_panel {
      position: fixed;
      top: 0;
      height: 50px;
      background-color: #2B3643;
      /* opacity: 0.7;  */
      display: flex;
      flex-direction: row;
      z-index: 1000;



  }

  .DOMAIN_BOX {
      background-color: #2B3643;
      width: 15%;
      height: 100%;
      border-bottom: 1px solid #DF8C8C;

  }

  .SEARCH_BOX {
      background-color: #2B3643;
      width: 42.5%;
      height: 100%;
  }

  .fluid_input {
      border: none;
      /* width: 50%; */
      height: 100%;
      display: flex;
      flex-direction: row;
  }

  .fluid_input input {
      border: none;
      width: 80%;
      height: 100%;
      background-color: whitesmoke;
      padding-left: 3%;
      font-weight: bold;

  }

  .fluid_input input:focus {
      border: none;
      outline: none;
      width: 90%;
      height: 100%;
      background-color: whitesmoke;
      padding-left: 3%;
  }

  .fluid_input .icon {
      background-color: whitesmoke;
      width: 20%;
      height: 100%;


      /* background-color: tomato; */
  }

  .fluid_input .icon svg {

      cursor: pointer;

      /* background-color: tomato; */
  }

  .SNS_BOX {
      width: 42.5%;
      height: 100%;
  }

  .SNS_BOX h4 {
      letter-spacing: 0.3em;
      font-weight: 900;
      font-family: 'Dosis', 'Nanum Gothic Coding', sans-serif;
      background: -webkit-linear-gradient(#eee, rgb(255, 255, 255));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  .wrapper_background {
      /* margin-top : 50px; */
      width: 100%;
      display: flex;
      flex-direction: row;
      z-index: 1;
      
  }

  .left_side_bar_background {
      width: 15%;
      height: 100%;
      background-color: #2B3643
  }

  .body_panel_background {
      width: 85%;
      height: 100%;
     
     
  }

  .wrapper {
      margin-top: 50px;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      z-index: 2;
      position: absolute;
      
  }

  .left_side_bar {
      width: 15%;
      height: auto;
      background-color: #2B3643;
      z-index: 2;
  }

  .body_panel {
      width: 85%;
      height: auto;
      /* background-color: white; */
      opacity: 0.8;
      border-radius: 1%;
      display: flex;
      flex-direction: column;
      z-index: 3;
  }

  

  .content_panel {
      width: 100%;
      height: auto;
      background-color: #343A40;
      padding-top: 50px;
      padding-left: 50px;
  }


  h4 a{

      font-family: 'Dosis', 'Nanum Gothic Coding', sans-serif;
      background: -webkit-linear-gradient(#eee, rgb(218, 108, 108));
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }

  a {
      color: white;
      font-weight: bold;
  }

  a:hover {
      text-decoration: none;
      color: #60BDAF;
  }

  .link_div {

      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      font-size: 15pt;
      letter-spacing: 0.2em;
  }

  .link_div a {
      font-family: 'Dosis', 'Nanum Gothic Coding', sans-serif;
  }

  .header {
      display: inline-block;
      text-align: center;
  }

  .header h1 {

      font-family: 'Nanum Gothic Coding', sans-serif;
      font-weight: bold;
      color: wheat;
      letter-spacing: 0.1em;
  }

  .Used_Stacks{
      margin-top: 50px;
      font-size: 25px;
      font-weight: bold;
  }
  .Used_Stacks *{
      font-family: 'Dosis', 'Nanum Gothic Coding', sans-serif;

      letter-spacing: 0.1em;
  }
  .Used_Stacks > {
      font-size : 20px;
  }

  .w-35 {
      width: 35%;
  }
  .w-35 ul li img{
      border-radius: 10%;
      
  }
  .underline{
      text-decoration: underline;
  }
